<footer class="border-top footer text-muted ">
    <div class="container">
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Home</a>
            </li>
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="Image/logo_footer.svg" alt="Logo" width="200px" height="200px"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">General terms and conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
            </li>
        </ul>
    </div>
</footer>