@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    
    <form asp-controller="Account" asp-action="Login">
    <button class="btn" style="background-color: #A48374; color: #EBE3DB" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </button>
    </form>
        
        
    <span style="padding: 5px;"></span>
    
    
    <form asp-controller="Account" asp-action="Register">
    <button class="btn" style="color: #A48374; background-color: #EBE3DB" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </button>
    </form>
    
   
    }
else
{
    @*User profile section*@
    <div class="dropdown">
        <button class="btn dropdown-toggle" style="background-color: #A48374; color: #EBE3DB" type="button" id="profile-btn" data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            
            <li>
                <a class="dropdown-item" asp-controller="" asp-action="">
                    <i class="bi bi-list"></i> Orders
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Customers
                    </a>
                </li>
                <li>
                     <a class="dropdown-item" asp-controller="Products" asp-action="AddProduct">
                             <i class="bi bi-plus-circle-fill"></i>Add a new Product
                        </a>
                </li>
                
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn" style="color: #A48374; background-color: #EBE3DB">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}
 