<header>   
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 justify-content-center">
    <div class="container-fluid">
         
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Rings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Necklaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bracelets</a>
                </li>
                <li class="nav-item">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index"> <img src="Image/logo_main.svg" alt="Logo" width="200px" height="200px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                                                             


                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear"></i>Management</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Products" asp-action="Index">Products</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Users">Customers</a>
                            <a class="dropdown-item" asp-controller="Orders" asp-action="">Orders</a>
                        </div>
                    </li>
                }
                
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    @await Component.InvokeAsync("ShoppingCartSummary")
                </li>
                
            </ul>
            
            <partial name="_Identity.cshtml"/>
        </div>
    </div>
</nav>
</header> 