<header>   
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ISIS Jewelry</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Rings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Necklaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bracelets</a>
                </li>
                <li class="nav-item">
                                                             


                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear"></i>Management</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Products" asp-action="Index">Products</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Users">Customers</a>
                            <a class="dropdown-item" asp-controller="" asp-action="">Orders</a>
                        </div>
                    </li>
                }
                
            </ul>
            
            <partial name="_Identity.cshtml"/>
        </div>
    </div>
</nav>
</header> 