
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" asp-controller="Products" asp-action="Index">
        <img src="Image/Logo_Isis.png" alt="Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="Products" asp-action="Index" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Products" asp-action="ProductCategory" aria-current="page">Sets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Products" asp-action="ProductCategory" aria-current="page">Rings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Products" asp-action="ProductCategory" aria-current="page">Necklaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Products" asp-action="ProductCategory" aria-current="page">Bracelets</a>
            </li>
        </ul>
        <div class="navbar-nav right">
            <div class="nav-item active">
                <partial name="_Identity.cshtml"/>
            </div>
            <div class="nav-item summary">
                @await Component.InvokeAsync("ShoppingCartSummary")
            </div>
        </div>
    </div>
</nav>