<header>   
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="Image/Logo_Isis.png" alt="Logo" width="120px" height="120px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sets</a>c
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Rings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Necklaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bracelets</a>
                </li>
                <li class="nav-item summary">
                   @await  Component.InvokeAsync("ShoppingCartSummary")
                </li>
            </ul>
            <partial name="_Identity.cshtml"/>
        </div>
    </div>
</nav>
</header> 