@model Products

@{
    ViewData["Title"] = "Add a new product";
}

<h1>Add a new product</h1>

<div>
    <form asp-action="AddProduct">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName"/>
            <span asp-validation-for="ProductName"></span>
        </div>
    
        <div>
            <label asp-for="ProductCategory"></label>
            <input asp-for="ProductCategory"/>
            <span asp-validation-for="ProductCategory"></span>
        </div>
    
        <div>
            <label asp-for="ProductDelivery"></label>
            <input asp-for="ProductDelivery"/>
            <span asp-validation-for="ProductDelivery"></span>
        </div>
    
        <div>
            <label asp-for="ProductImage"></label>
            <input asp-for="ProductImage"/>
            <span asp-validation-for="ProductImage"></span>
        </div>
        
    
        <div>
            <label asp-for="ProductDescription"></label>
            <input asp-for="ProductDescription"/>
            <span asp-validation-for="ProductDescription"></span>
        </div>

        <div>
            <input type="submit" value="Add product"/>
        </div>
    </form>
    </div>