@model Products

@{
    ViewData["Title"] = "Details of the product";
}

<h1>Product details</h1>

<div>
    <div>
        <img id="ProductImagePreview"  style="max-width: 200px; max-height: 200px;" alt="" src=""/>
    </div>
           
    <div>
        <label asp-for="ProductImage"></label>
        <input asp-for="ProductImage" readonly/>
        <span asp-validation-for="ProductImage"></span>
    </div>
    <div>
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" readonly/>
        <span asp-validation-for="ProductName"></span>
    </div>
    
    <div>
        <label asp-for="ProductCategory"></label>
        <input asp-for="ProductCategory" readonly/>
        <span asp-validation-for="ProductCategory"></span>
    </div>
    
    <div>
        <label asp-for="ProductDelivery"></label>
        <input asp-for="ProductDelivery" readonly/>
        <span asp-validation-for="ProductDelivery"></span>
    </div>
    
    <div>
        <label asp-for="ProductDescription"></label>
        <input asp-for="ProductDescription" readonly/>
        <span asp-validation-for="ProductDescription"></span>
    </div>
    
    <div>
        <label asp-for="ProductPrice"></label>
        <input asp-for="ProductPrice" readonly/>
        <span asp-validation-for="ProductPrice"></span>
    </div>
    
    <a class="btn btn-light" style="background-color: #A48374; color: #EBE3DB" asp-action="EditProduct" asp-route-id="@Model.ProductId">Edit</a>
    <a class="btn btn-light" style="background-color: #A48374; color: #EBE3DB" asp-action="Index">Show All</a>
    
    <div class="col-md-12">
        <div class="card-footer">
            <p class="card-text">
                <a class="btn btn-light" style="background-color: #A48374; color: #EBE3DB" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@Model.ProductId">
                    <img src="Image/bag-plus-fill.svg" alt="add to my cart"/>
                    <i>Add to my cart (Price @Model.ProductPrice.ToString("c"))</i>
                </a>  
            </p>
        </div>
    </div>
    
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
                    var output = document.getElementById('ProductImagePreview');
                    output.src = $("#ProductImage").val();
                })
        
                $("#ProductImage").on("change", function () {
                    var output = document.getElementById('ProductImagePreview');
                    output.src = $(this).val();
                })
    </script>
}