@Model IEnumerable<products/>

@{
    ViewData["Title"] = "List of Products";
    
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>List of products</title>
</head>
<body>
<h1>welcome to the product view - index</h1>
<div>
    
</div>
</body>
</html>
