@using eshop.Data.Static
@using EasyNet.Identity.EntityFrameworkCore.UI.Areas.Identity.Pages.Shared
@model IEnumerable<Products>

@{
    ViewData["Title"] = "List of Products";
}



<head>
    <link rel="stylesheet" href="./css/productlist.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<partial name="_carousel"/>

<div class="container d-flex justify-content-center mt-100">
    
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img">
                        <a href="#" data-abc="true"> <img src="@item.ProductImage" class="img-fluid" alt=""> </a>
                        <span class="text-center"><i class="fa fa-rupee"></i> @item.ProductPrice €</span>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a href="#"> <i class="bi bi-eye"></i> </a>
                                <a href="#"> <i class="bi bi-bookmark-heart"></i> </a>
                                <a href="#">
                                    <i class="bi bi-bag-plus"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        }
    </div>
</div>

        
        





