<div class="row">
    <div class="col-md-4 offset-4 alert alert-danger text-center">
        <h2>You are not allowed to access this page</h2>
        <p>Click below to be redirected to the Homepage</p>
        <hr />
        <p>
            <a asp-controller="Products" asp-action="Index" class="btn btn-outline alert-link">Homepage</a>
        </p>
        
    </div>
    
</div>