@model ApplicationUser

@{
    ViewData["Title"] = "Details of the customer";
}

<h1>Customer Details</h1>

<div>
   
    
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" readonly/>
            <span asp-validation-for="FirstName"></span>
        </div>
    
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" readonly/>
            <span asp-validation-for="LastName"></span>
        </div>
    
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" readonly/>
            <span asp-validation-for="Email"></span>
        </div>
    
        <div>
            <label asp-for="Address"></label>
            <input asp-for="Address" readonly/>
            <span asp-validation-for="Address"></span>
        </div>
        
    
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly/>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    
    <div>
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" readonly/>
        <span asp-validation-for="Birthday"></span>
    </div>
    
    <a asp-action="EditCustomer" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Users">Show All</a>
    
    
</div>